<!DOCTYPE html>
<html>
  <head>
    <title>League Of Wikis</title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body>
       <%- include('./navbar') %>
       <main class="bg-zinc-700">

       </main>
       <%- include('./footer') %>
  </body>
</html>
